// If you want to override variables do it here
//@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
//@import "custom";


// Inicio
.forminicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    input {
        margin: 15px 0px;
    }

    button {
        width: 100%;
    }
}
.showImageInput{
    max-width: 250px;
}
.np{
    padding-left: 0;
    padding-right: 0;
}